* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


body {
  background-color: grey;
  color: white;
  font-weight: bold;
  margin: 20px;
}












/* h1 {
  font-size: 20px;
  padding: 0px 0px 20px 0px;
}

h2 {
  font-size: 16px;
  padding: 0px 0px 20px 0px;
}

h3 {
  font-size: 16px;
}

span {
  color: yellow;
}

.newClass{
  color: red;
  font-size: 40px;
  margin: 0;
}

.paragrafClass{
  background: url(https://cdn.pixabay.com/photo/2023/06/04/23/09/desert-8041047_640.jpg);
  /* background:   url(https://cdn.pixabay.com/photo/2021/10/22/00/59/restaurant-6730811__340.jpg) right 25% no-repeat, url(https://cdn.pixabay.com/photo/2021/10/06/15/05/bedroom-6686061__340.jpg) 300px 250px  no-repeat; */
/* }

.boxes{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.boxes_box{
  margin: 5px;
  width: 100px;
  height: 100px;
  border: 5px solid black;
  background-color: cornflowerblue;
  border-radius: 10px;
}

.newStyle{
  width: 300px;
  height: 500px;
} */ 
.vdfv {
  font-size: 40px;
  padding: 10px;
  margin-bottom: 100px;
  display: block;
  
}
  